.ticket-info{
    font-size: 12px;
}

.data-info{
    margin-left: 8px !important;
    margin-right: 0;
}
.data-info {
    border-right: 1px solid #c2b8b8;
    padding-right: 5px; 
 }
 
 .light.btn-danger {
    background-color: #ffdede;
    border-color: #ffdede;
    color: #FF5E5E;
}
.light.btn-danger:hover {
    background-color: #FF5E5E;
    border-color: #FF5E5E;
    color: #fff;
}
.light.btn-success {
    background-color: #bbe6e3;
    border-color: #bbe6e3;
    color: #3A9B94;
}
.light.btn-success:hover {
    background-color: #3A9B94;
    border-color: #3A9B94;
    color: #fff;
}

.light.btn-info {
    background-color: #d3edf5;
    border-color: #d3edf5;
    color: #58bad7;
}

.light.btn-info:hover {
    background-color: #58bad7;
    border-color: #58bad7;
    color: #fff;
}

.btn-light {
    background: #c8c8c8;
    border-color: #c8c8c8;
    color: #fff;
}

.btn-light:hover {
    background: white;
    color: #6e6e6e;
    border-color: white;
}

/* .light .btn-primarys {
    background-color: rgba(211, 205, 228, 0.1) !important;
    border-color:rgba(69, 43, 144, 0.1) !important;
    color: #452b90;
}

.light .btn-primarys:hover {
    background-color: #452b90;
    border-color:#452b90;
    color: #fff;
} */

.light.btn-warning {
    background-color: #ffeccc;
    border-color: #ffeccc;
    color: #FF9F00;
}
.light.btn-warning:hover {
    background-color: #FF9F00;
    border-color: #FF9F00;
    color: #fff;
}

.light.btn-info {
    background-color: #d3edf5;
    border-color: #d3edf5;
    color: #58bad7;
}

.light.btn-info:hover {
    background-color: #58bad7;
    border-color: #58bad7;
    color: #fff;
}

.btn11 {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size:12px;
    font-weight:500;
    line-height: var(--bs-btn-line-height);
    color: #452b90;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius:4px;
    background-color:#ece9f4;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.btn11:hover {
        background-color: #452b90;
        border-color:#452b90;
        color: #fff;
}

.card .card-body .ticket-heading:before {
    content: "";
    position: absolute;
    left: 0px;
    padding: 2px;
    height: 25px;
    background: #2f4f4f;
}

.ticket-description{
    font-size: 13px;
}

.brround {
    border-radius: 50%;
}

.avatar-lg {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.25rem;
}
.badge-primary-light {
    color: #36f;
    background-color: rgba(51, 102, 255, 0.1);
}

.badge-danger-light {
    color: #f11541;
    background-color: rgba(241, 21, 65, 0.15);
}

.badge-burnt-orange {
    color: #fff;
    background-color: #ff6f31;
}

.accordion-button{
    background-color: #ffae42 !important;
}
.accordion-button:focus{
    box-shadow: none !important;
}

.data-info .priority:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: auto;
    border-radius: 50px;
    top: 38px;  
}
  .priority:before {
    background-color: red;
}
.priority{
    color: red;
}