/* .p-tabview-nav .p-highlight {
    border-bottom: 2px solid blue; 
    border: 4px solid rgb(36, 143, 209);
    font-weight: bold; 
  } */
  
  
  /* .p-tabview-nav .p-tab:not(.p-highlight):hover {
    color: blue; 
    cursor: pointer; 
  } */