.background-light{
    --bs-bg-opacity: .4 !important; 
}
.background-light-icons{ 
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: .375rem;
    width: 3rem;
    height: 3rem;
}
.font_size1{
    font-size:13px;
}