
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto_left{
    font-family:"Roboto", sans-serif ;
    font-size: 15px;
}
.roboto_right{
    font-family:"Roboto", sans-serif ;
    font-size: 15px;
}