.pricingTable th{
    background-color: #2f4f4f;
    color: white;
}

 .ticket-heading:before {
    content: "";
    position: absolute;
    left: 0px;
    padding: 2px;
    height: 25px;
    background: #ffae42 !important;
}

.card2{
    border: 1px solid #9c9c9c63;
}

.active1 {
    background-color: #2f4f4f70;  
    color: #fff;  
  }
  .bottom1{
    border-bottom: 1px solid #9c9c9c63;
  }
 .card .link1{
    padding: 14px 40px !important;
    font-size: 14px;
  }

  .amenitiesBox{
    font-size: 14px;
  }

  .css-1jqq78o-placeholder {
    font-size: 13px;
}

  .link11{
    padding: 14px 40px !important;
    font-size: 14px;
    border-radius: 8px;
}

.active2 {
  background-color: #2f4f4f40;
  color: #fff;
}

.custom_tab{
    border: 1px solid darkslategrey; 
}
.upload_col{
 border-right: 1px solid black; 
}

.form-check-input:checked {
  background-color: #2f4f4f !important;
  border-color: #2f4f4f !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}
.displaynone{
  display: none;
}