.gradient-custom-2 {
  /* background: #fccb90;
     
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); 
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
  background: url("../../Assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-form {
  height: 100vh !important;
}
@media (max-width: 992px) {
  .gradient-custom-2 {
    display: none !important;
  }
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-input-outlined:hover {
  border-color: #d9d9d9 !important;
  background-color: #ffffff;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-1vjf2v5).ant-input-outlined:focus-within {
    border-color: #d9d9d9 !important;
    box-shadow: 0 0 0 0px rgba(5, 145, 255, 0.1);
    outline: 0;
    background-color: #ffffff;
}